label {
  font-size: 22px;
  line-height: 23px;
}

body {
  font-family: 'Spectral', serif;
  font-size: 18px;
  line-height: 19px;
  background-color: #DBC053;
}

h3, h4, h5, h6 {
  font-family: 'Marcellus SC', serif;
}

h1, h2 {
  font-family: 'Uncial Antiqua', cursive;
}

.header {
  padding-top: 5%;
}

.row {
  margin-bottom: 5%;
}

#sheet {
  margin-top: 80px;
}

.marcellus {
  font-family: 'Marcellus SC', serif;
  font-size: 42px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
  color: #DA0104;
  text-shadow: 0px 1px 1px #000,
                -1px 0px 1px #000,
                1px -1px 1px #000,
                -1px 0px 1px #000,
                0px 2px 2px #F4EEB2,
              	-2px 0px 2px #F4EEB2,
  					     2px -2px 2px #F4EEB2,
          	      -2px 0px 2px #F4EEB2;
}

.underline {
  border-bottom: 1px solid #000;
}

.col-9 {
  padding-top: 3%;
  padding-bottom: 1%;
  padding-left: 8%;
  padding-right: 7%;
  border: #B26D03 solid 1px;
  -webkit-border-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -webkit-border-bottom-left-radius: 100px;
  -moz-border-radius: 100px;
  -moz-border-radius-bottomright: 100px;
  -moz-border-radius-bottomleft: 100px;
  border-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.cname {
  padding-top: 4%;
  text-align: center;
}

input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #DA0104;
    border-radius: 30px;
    background-color: #F4EEB2;
    resize: horizontal;
}
